Options All -ExecCGI  +Includes -Indexes +FollowSymLinks
# REWRITE ___________________
<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteBase /

	#	и запрошенный путь соответствует пути к физическому файлу
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule (.*) web/index.php?path=$1  [L]

    RewriteCond %{REQUEST_FILENAME}      ^$
	RewriteRule .* web/index.php  [L]

</IfModule>
