<header style="min-height: 120px;">
    <nav>
        <ul class="hor-menu">
            <li> <a href="/category/" class="fromCatalog" >Каталог</a></li>
            <li> <a href="/product/new/" >Новинки </a></li>
            <li> <a href="/product/action/" >Акции </a> </li>
            <li> <a href="/admin/singin/getform" onclick="return showForm(this);">Войти </a> </li>
            <li> <a href="/customers/"  >Покупатели</a></li>

        </ul>
    </nav>
</header>
<div style="clear:both"></div>